.foto-home {
    height: 200px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.titulo-principal h1{
    text-shadow: 2px 2px #000;
}
.saudacao p {
    font-size:1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}
.saudacao-inicio {
    color: #889;
    font-size:3em;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    color: #000;
    font-size: 2em;
}
.saudacao em {
    color: #851944;
    font-size: 4em;
    transform: rotate(-5deg) skew(-10deg);
    display: inline-block;
}
.botao-twitter{
    width: 14em;
    line-height: 1;
    padding: 1em 0;
    box-sizing: border-box;

    text-align: center;
    text-decoration: none;
    background-color: #3C1D3D;
    color: white;
    border: .25em solid black;

    font-size: .5em;
    font-family: "Open Sans Condensed", sans-serif;

    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0 0;
    transform: translate(calc(.707 * (3.5em - 100%) + 100%), calc(-.707 * 3.5em)) rotate(45deg);
}
.botao-index {
    font-size: 1.25em;
    background-color: #851944;
    color: #FFF;
    padding: .5em;
    border: .2em solid black;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
}
.secao-inicio h2 {
    font-size: 3em;
    text-shadow: 2px 2px #000;
    text-transform: uppercase;
    margin-bottom: .5em;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
    background-image: linear-gradient(135deg,
    transparent,
    transparent 14px,
    rgba(0, 0, 0, 0.1) 14px,
    rgba(0, 0, 0, 0.1) 15px,
    transparent 15px,
    transparent);
    background-size: 20px 20px; 
    background-attachment: fixed;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    overflow: hidden;
    border: .5em solid black;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: .5em solid #851944;
    background-image: linear-gradient(135deg,
    transparent,
    transparent 14px,
    rgba(255, 255, 255, 0.1) 14px,
    rgba(255, 255, 255, 0.1) 15px,
    transparent 15px,
    transparent);
    background-size: 20px 20px; 
    background-attachment: fixed;
}
.blog small{
    position: relative;
    top: -2em;
}
.blog li a {
    color: #FCF;
    display: block;
    padding: .5em;
}
footer {
    background-color: #000;
    color: #FFF;
    padding: 2em;
}
footer a {
    color: #F99;
}
footer h2{
    font-size:3em;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
.eficiencia {
    top: 20%;
    left: 75%;
    -webkit-transform: translate(-50%, -50%) rotate(-5deg) translateZ(4px);
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(4px);
    opacity: .3;
}
.boas-praticas{
    top: 60%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) rotate(10deg) translateZ(1px);
    transform: translate(-50%, -50%) rotate(10deg) translateZ(1px);
    opacity: .3;
}
.codigo-limpo{
    top: 45%;
    left: 10%;
    -webkit-transform: translate(-50%, -50%) rotate(-10deg) translateZ(2px);
    transform: translate(-50%, -50%) rotate(-10deg) translateZ(2px);
    opacity: .6;
}
.html5{
    top: 40%;
    left: 80%;
    -webkit-transform: translate(-50%, -50%) rotate(10deg) translateZ(2px);
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px);
    opacity: .6;
}
.css3{
    top: 50%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%) rotate(5deg) translateZ(2px);
    transform: translate(-50%, -50%) rotate(5deg) translateZ(2px);
    opacity: .6;
}
.javascript{
    top: 10%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) rotate(-5deg) translateZ(1px);
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(1px);
    opacity: .3;
}
.acessibilidade{
    top: 30%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%) rotate(-5deg) translateZ(3px);
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(3px);
    opacity: .8;
}
.responsivo{
    top: 15%;
    left: 15%;
    -webkit-transform: translate(-50%, -50%) rotate(10deg) translateZ(3px);
    transform: translate(-50%, -50%) rotate(10deg) translateZ(3px);
    opacity: .8;
}
.otimizacoes{
    top: 60%;
    left: 70%;
    -webkit-transform: translate(-50%, -50%) rotate(-5deg) translateZ(2px);
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(2px);
    opacity: .6;
}
.agilidade{
    top: 10%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%) rotate(5deg) translateZ(1px);
    transform: translate(-50%, -50%) rotate(5deg) translateZ(1px);
    opacity: .3;
}
.design{
    top: 35%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) rotate(10deg) translateZ(2px);
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px);
    opacity: .6;
}
.palavra-home{
    color: #D5447E;
    font-family: 'Shadows Into Light', cursive;
    position: absolute;
    font-weight: bold;
    font-size: .3em;
}
.palavras-home {
    perspective: 6px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.palavras-home li {
    font-size: 50%;
}
header{
    position:relative;
}
.blog .inicio-post {
    position: absolute;
    top: 4em;
    height: 8em;
    left: 30%;
    right: 4em;
    background-color: #F2FFFC;
    color: #000;
    padding: 1.5em;
    display:none;
}

.blog a:hover + .inicio-post,
.blog a:focus + .inicio-post {
    display: block;
}

.blog a:not(.botao-index):hover,
.blog a:not(.botao-index):focus{
    background-color: #f2fffc;
    color: red;
}

.botao-index:hover,
.botao-index:focus{
    text-shadow: 0 0 2px pink;
    color: #FFF;
}
.blog {
    position: relative;
}
.blog .mais-recente {
    background-color: #F2FFFC;
}
.blog .mais-recente a {
    color: #F26;
}
.blog li {
    width: 30%;
}
