html{
    font-size: 120%;
    overflow-x:hidden;
}

body{
    font-family: "Crimson Text","Times New Roman",serif;
    background-color: #F2FFFC;
    font-size: 1rem;
    line-height: 1.5;
    
}

h1,h2{
    font-family: 'Open Sans Condensed',"Arial", sans-serif;
}

h1{
    text-shadow: 2px 2px #000;
}

.titulo-principal{
    text-align: center;
    color:#ffffff;
    background-color: #851944;
    padding: 1.25rem;
    margin: 0px;
    border-bottom: 1rem #000 solid;
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;

}
.subtitulo-principal{
    font-size: 50%;
    text-align: center;
}

main{
    float: left;
    width: 85%;
    padding-bottom: 80px;
    cursor: default;
}

h2{
    font-size: 2rem;
    clear: both;
}

p{
    text-align: justify;
    font-family: 'Crimson Text';
    margin: 20px 0px;
}

main a {
    color: #851944;
}

main a:hover,
main a:focus{
    color: #c00;
}

footer a:hover,
footer a:focus{
    color: #c00;
}

main div{
    width: 720px;
    padding: 30px;
    box-sizing: border-box;
    margin: 0 auto;
}

blockquote{
    background-color: #D9e5e3;
    padding: 1em;
    border: 10px #c2ccca solid;
    width: 30ch;
    margin: 1em 2em;
    box-sizing: border-box;    
}

blockquote:nth-of-type(odd){
    float: right;
    margin-right: 0px;
}

blockquote:nth-of-type(even){
    float: left;
    margin-left: 0px;
}


aside{
    background-color: #3c1d3d;
    color: #F2FFFC;
    width: 15%;
    position: relative;
    top: 310px;
    text-align: center;
}

.foto-joao, aside {

    float: right;
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}

.foto-joao{
    position: absolute;
    top: 0;
    right: 0;
}

aside h1{
    font-size: 30px;
    margin-bottom: 25px;
    margin: 10px 40px;
}

aside nav a{
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none;
    text-transform: lowercase;
    margin: 20px 40px;
}

aside nav a:hover,
aside nav a:focus{
    text-shadow: 0 0 2px pink;
}

.icones-sociais li{
    display: inline-block;
}

.icones-sociais li a{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-indent: -99999px;
}

.icone-github{
    background-image: url(../img/github.png);
}

.icone-twitter{
    background-image: url(../img/twitter.png);
}

.icone-linkedin{
    background-image: url(../img/linkedin.png);
}

.social-rodape{
    margin: 60px;
}

ul a {
    color:#F2FFFC;
}

em{
    font-style:italic; 
}

strong{
    font-weight: bold;
}

.rodape{
    color: #F2FFFC;
    padding: 1em;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    text-shadow: 1px 1px black;
    background-image: radial-gradient(ellipse at left bottom, rgba(60, 29, 61, 0.8), rgba(60, 29, 61, 0.8) 65%, black 65%, black 70%, transparent 70%);
    background-size: 25% 100%;
}

.icones-sociais a {
    position: relative;
}

.icones-sociais a:hover::after,
.icones-sociais a:focus::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    right: 0;
    text-indent: 0;
    width: 300%;
    background: black;
    font-size: .75em;
}

.icones-sociais a:hover::before,
.icones-sociais a:focus::before {
    content: '';
    width: 1em;
    height: 1em;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(.5em) rotate(45deg);
}